/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html {
  height: 100%;
}

/* Header title */
h1 {
  font-size: 50px;
  color: black;
  text-align: center;
  padding-top: 40px;
}

/* Navbar */
.navbar ul {
  list-style-type: none;
  overflow: hidden;

  display:flex;
  justify-content: center;
}
.navbar li {
  padding: 10px;
  float: left;
}
.navbar a {
  text-decoration: none;
  color: rgb(139, 139, 139);
}
.navbar a:hover {
  color: rgb(220, 220, 220);
}

/* Parallax effects for images */
.parallax {
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Sections between parallax images */
.section {
  text-align: center;
  padding: 50px 80px;
  font-size: 30px;
  color: #777;
  background-color:white;
}
