.carousel {
    position: relative;
    width: 30%; /* Adjust based on requirement */
    margin: auto;
    overflow: hidden;
  }
  
  .carousel-images img {
    width: 100%;
    display: none;
  }
  
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: rgba(0,0,0,0.5);
    border: none;
    color: white;
    font-size: 24px;
    padding: 10px;
  }
  
  .left-arrow {
    left: 10px;
  }
  
  .right-arrow {
    right: 10px;
  }
  
  .carousel-dots {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
  }
  
  .carousel-dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    display: inline-block;
    border-radius: 50%;
  }
  